<h1>Relax we will get through this</h1>
<p>I want this page to feel good. there will be calming images and a sense of calm that will be though out the app. I want a non invasive time tracker, the ability to text and email reminders to a phone. and I want insperational quotes to be
  deliverable. There should also be a premimum log in area without ads that is a subscription base.</p>
<form id="idea">
  <input type="textarea" name="thoughts">
  <input type="submit" value="Submit">
</form>
